<app-main-layout [activePage]="'contact'">
  <div class="container py-5 mt-4">
    <!-- Who We Are Section -->
    <div class="row mb-5">
      <div class="col" style="text-align: left;">
        <h2 style="margin-top: 20px;">The Chefs' Table: Where Passion Meets Plate </h2>
        <br>
        <p class="mb-4"> The heart and soul of Green Feast Fusion lie in our talented team of chefs, each bringing a
          wealth of experience, creativity, and passion for vegetarian cuisine. Our chefs are not just cooks; they are
          culinary adventurers, constantly exploring new flavors, techniques, and ingredients to bring innovation to
          your table.</p>

        <p>Green Feast Fusion is not just about eating; it's about experiencing food. Our chefs are at the
          forefront of this experience, crafting each meal kit with care, creativity, and a deep respect for the
          environment. By choosing Green Feast Fusion, you're not only embarking on a culinary journey but also
          supporting a sustainable and healthy lifestyle. We invite you to join us in celebrating the joy of vegetarian
          cooking, exploring new cuisines, and discovering the endless possibilities that plant-based eating offers.</p>
        <br>
        <p> <strong>Welcome to Green Feast Fusion—where every meal is a new adventure.</strong></p>
        <!-- Chef Photos with Descriptions -->
        <div class="chef-profiles-container">
          <div class="chef-photos">
            <div class="chef-box">
              <img src="assets/Chef1.jpg" alt="Chef 1" class="chef-photo">
              <p class="chef-description"><strong>Chef Aarav</strong> </p>
              <p> With roots in India, Chef Aarav specializes in traditional Indian vegetarian cooking. He skillfully
                combines spices and fresh ingredients to create dishes that are as nutritious as they are flavorful,
                bringing a piece of his heritage to our Canadian clientele.</p>
            </div>
            <div class="chef-box">
              <img src="assets/Chef2.jpg" alt="Chef 2" class="chef-photo">
              <p class="chef-description"><strong>Chef Bell</strong> </p>
              <p> A champion of Mediterranean cuisine, Chef Bell focuses on simplicity and freshness. His creations are
                a testament to the power of quality ingredients, transforming simple vegetables into culinary
                masterpieces.</p>
            </div>
            <div class="chef-box">
              <img src="assets/Chef3.jpg" alt="Chef 3" class="chef-photo">
              <p class="chef-description"><strong>Chef Carlos</strong> </p>
              <p> Inspired by the diverse flavors of South American vegetarian cuisine, Chef Carlos introduces an
                exciting twist to our meal kits. His expertise lies in blending bold flavors and textures, offering a
                taste of adventure in every bite.</p>
            </div>
            <div class="chef-box">
              <img src="assets/Chef4.jpg" alt="Chef 4" class="chef-photo">
              <p class="chef-description"><strong>Chef Danielle</strong> </p>
              <p>With a passion for fusion cuisine, Chef Danielle experiments with flavors from around the world to
                create innovative dishes that are exclusive to Green Feast Fusion. He embodies our mission to fuse
                global vegetarian cuisines into a harmonious blend of taste and nutrition.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Address and Form Section -->
    <div class="container my-5">
      <div class="row justify-content-center">
        <!-- Addresses -->
        <div class="col-md-6">
          <h3>From our hubs to you: fast, local shipping! </h3> <br>
          <div class="row">
            <div class="col-md-6">
              <p><strong>Cambridge</strong><br>123 Veggie Lane<br>Cambridge, ON N1R 5S2</p> <br>
            </div>
            <div class="col-md-6">
              <p><strong>Kitchener</strong><br>456 Herb Street<br>Kitchener, ON N2A 3J1</p>
            </div>
            <div class="col-md-6">
              <p><strong>Waterloo</strong><br>789 Garden Path<br>Waterloo, ON N2V 2X3</p>
            </div>
            <div class="col-md-6">
              <p><strong>Guelph</strong><br>1010 Plant Drive<br>Guelph, ON N1H 7Z4</p>
            </div>
          </div>
        </div>

        <!-- Contact Form -->
        <div class="col-md-6">
          <div class="contact-form">
            <h2 class="text-center mb-4">Contact Us / Leave us a review!</h2>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" required>
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" rows="3" formControlName="message" required></textarea>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Send Message</button>
              </div>
            </form> 
          </div>
        </div>
      </div>
    </div>
  </div>
</app-main-layout>