<!-- login.component.html -->
<app-auth-layout class="w-100">

    <div class="container py-5 px-5 h-100" right-content>
      <div class="card bg-white shadow-2-strong" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <h3 class="mb-5">Log in</h3>
  
          <form [formGroup]="loginForm"  (ngSubmit)="loginUser()" >
            <div class="form-outline mb-4">
              <input type="email" id="typeEmailX" formControlName="email" class="form-control form-control-lg" placeholder="Email" />
  
              <small
                *ngIf="email.invalid && (email.dirty || email.touched)"
                class="block text-danger"
              >
                <div *ngIf="email.errors?.['required']">Email is required.</div>
                <div *ngIf="email.errors?.['email']">Email should be valid</div>
              </small>
            </div>
  
            <div class="form-outline mb-4">
              <input formControlName="password" type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="Password" />
              <small
                *ngIf="password.invalid && (password.dirty || password.touched)"
                class="block text-danger"
              >
                <div *ngIf="password.errors?.['required']">Password is required.</div>
              </small>
            </div>
  
            <button [disabled]="loginForm.invalid" class="btn btn-dark btn-lg btn-block" type="submit">Log in</button>
  
            <hr class="my-4">
  
            <p>Don't have an account? <a href="/register" class="link">Sign up</a></p>
          </form>
  
        </div>
      </div>
    </div>
  
  </app-auth-layout>
  
  
  
  