<style>
  .meal-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
  }

  .meal-box:hover {
    border-color: #007bff;
  }

  .filter-section {
    padding: 20px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .meal-selection {
    padding: 20px;
  }

  .meal-info {
    margin-top: 10px;
  }

  /* Add more custom styles as needed */
</style>

<app-main-layout [activePage]="'shop'" [cartCount]="cartCount()">

  <div class="container-fluid">

    <div class="row px-4 pt-5 w-100 my-5 mx-0">
      <div style="color: #02330f">
        <h1 class="display-4 fw-bolder">Your Cart, Our Harvest.</h1>
        <p class="lead fw-normal mb-0">Savor the Simplicity of Gourmet Vegetarian</p>
      </div>
    </div>

    <div class="row">
      <!-- Filters column -->
      <div class="col-md-3 filter-section">
        <h5 class="btn mb-5 d-flex align-items-center gap-2 w-100 justify-content-center">Filters
          <i class="fas fa-filter"></i>
        </h5>
        <div class="mb-3 d-flex flex-column">
          <label for="spiceLevel" class="form-label">Spice level</label>
          <div id="spiceLevel" class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="btncheck1" name="mild" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btncheck1">Mild</label>

            <input type="checkbox" class="btn-check" id="btncheck2" name="medium" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btncheck2">Medium</label>

            <input type="checkbox" class="btn-check" id="btncheck3" name="hot" autocomplete="off">
            <label class="btn btn-outline-secondary" for="btncheck3">Hot</label>
          </div>
        </div>
        <div class="mb-3 d-flex flex-column">
          <label for="dietaryNeeds" class="form-label">Dietary needs</label>
          <div id="dietaryNeeds" class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off" name="High Protein">
            <label class="btn btn-outline-secondary" for="btncheck4">High Protein</label>

            <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off" name="Vegan">
            <label class="btn btn-outline-secondary" for="btncheck5">Vegan</label>

            <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off" name="No nuts">
            <label class="btn btn-outline-secondary" for="btncheck6">No nuts</label>
          </div>
        </div>
        <div class="mb-3 d-flex flex-column">
          <label for="mealType" class="form-label">Meal type</label>
          <div id="mealType" class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off" name="Salad">
            <label class="btn btn-outline-secondary" for="btncheck7">Salad</label>

            <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off" name="Rice bowls">
            <label class="btn btn-outline-secondary" for="btncheck8">Rice bowls</label>

            <input type="checkbox" class="btn-check" id="btncheck9" autocomplete="off" name="Entrees">
            <label class="btn btn-outline-secondary" for="btncheck9">Entrees</label>
          </div>
        </div>

      </div>
      <!-- Meal selection column -->
      <div class="col-md-9 meal-selection">
        <div class="row">
          <section class="py-5">
            <div class="container px-4 px-lg-5 mt-0 pt-0">
              <h5>Build your box</h5>
              <div>Select your meals - Serves per week</div>
              <!-- Check-in buttons for meal servings -->
              <div class="btn-group mb-5" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio1">5 Meals</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio2">10 Meals</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio3">20 Meals</label>
              </div>
              <div style="max-height: 80vh; overflow-y: auto"
                   class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">


                <div class="col mb-5" *ngFor="let meal of filteredMeals">
                  <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" style="object-fit: cover; object-position: center" height="300" width="450" [src]="meal.secondaryImages[0] || 'https://dummyimage.com/450x300/dee2e6/6c757d.jpg'" alt="...">
                    <!-- Product details-->
                    <div class="card-body p-4">
                      <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{ meal.title }}</h5>
                        <!-- Product price-->
                        Serving size: {{ meal.servingSize }}

                        <!--     plus and minus buttons                   -->
                        <div class="d-flex justify-content-between small text-warning m-2 align-items-center">
                          <button [disabled]="getQuantity(meal)===0" class="btn btn-outline-secondary"
                                  (click)="decrement(meal)">-
                          </button>
                          <span>{{ getQuantity(meal) }}</span>
                          <button class="btn btn-outline-secondary" (click)="increment(meal)">+</button>
                        </div>
                      </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><span data-bs-toggle="modal" data-bs-target="#staticBackdrop" [id]="meal._id" class="btn btn-outline-dark mt-auto">View options</span></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <app-meal-modal [meal]="selectedMeal"/>
  </div>
</app-main-layout>
